body{
	margin:0;
	padding:0;
	/*background-color: #BDBDBD;*/
	background:url('../images/back.jpg');
}

#headerkabaap{

width:100%;
	height:50px;
	background-color: black;

}

#logo{
	
	width:400px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-size: 25px;
	margin-top:14px;
	margin-left:20px;
	float:left;
}

#header{

	width:100%;
	height:50px;
	background-color: #151515;
	border-bottom:2px solid #0040FF;
}

#menubar{
	float:right;
	width:500px;
	height:100%;
	
	margin-right:100px;
	
}

		#menubar ul{
			border-bottom:3px solid black;
			
			color:white;
			list-style-type: none;
			margin:0;
			padding: 0;
			height:99%;
			text-align: center;
			width:400px;
			margin-top:3px;
		}

		#menubar ul li{
			margin-top:5px;
			
			display:inline-block;
			width:90px;
			height:38px;
			padding: .7em 0.1em;
			color:199DF6;
		}

		#menubar ul li:hover{
			color: black;
			border:2px solid #199DF6;
			
		}

		#menubar ul li a{
			margin-top:2px;
			color: 199DF6;
			text-decoration: none;
		}
		





#searchbar{
	width:420px;
	height:26px;
	float:right;
	
	margin-right:100px;
	margin-top:10px;
}
#searchbar img{
	margin-top:3px;
	width:20px;
	height:20px;
	margin-left:2px;
}

#search{
	background:  2px 2px #848484;
	float:left;

	outline:none;
	border: 0 none;
	font:bold 12px Arial,Helvetica,Sans-serif;
	width:380px;
	padding:6px 15px 6px 35px;
	text-shadow: 0 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	transition:all 0.7s ease 0s;

}


#search:focus{
	background: 2px 2px #FFFFFF;
	color:#6a6f75;
	width:350p;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 3px rgba(0,0,0,0.2) inset;
	text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

#addnew{
	width:50px;
	height:50px;
	float:left;
	margin-left:30px;
	margin-top:50px;
	
}

#addnew img{
	width:50px;
	height:50px;}
#mainbody{
	width:80%;
	
	margin:20px auto;
	height:auto;
}


.mainbox{
	width:100%;
	
	border-radius: 5px;
	height:170px;
	padding-left:20px;
	padding-right:20px;
	background-color: white;
	margin-top:10px;
	
}
.mainbox h6{
	float:left;
	margin-top:50px;
}
.boxhead{

	width:100%;
	padding-left:10px;
	height:40px;
	padding-top:10px;
	font-weight: bold;
	font-size: 18px;
}
.boxbody{
	
	float:left;
	width:800px;
	height:80px;
	margin-top:20px;
	
	padding-left:10px;
}
 
.boxfoot{

	width:13%;
	float:right;
	padding-left:10px;
	height:40px;
	margin-top:10px;
	padding-top:10px;
	font-size: 18px;
	font-weight: bold;
}

.badge a{
	color:white;
	text-decoration: none;
}
#badge{
	float:right;

}

/*--------------lightbox----------------------------*/
.sodal-container{
	position:fixed;
	background-color:#fff;
	left:50%;
	padding:20px;
	border-radius: 5px;
	width:400px;
	max-width:400px;
	border:1px solid #000;
	-webkit-transform:translate(-50%,-1000%);
	-ms-transform:translate(-50%,-1000%);
	transform:translate(-50%,-1000%);

	-webkit-transition:transform 200ms ease-out;
	-ms-transition:transform 200ms ease-out;
}

.sodal:before{

	content:"";
	position:fixed;
	display:none;
	background-color: rgba(0,0,0,.8);
	top:0;
	left:0;
	height:100%;
	width:100%;

}

.sodal:target:before{
	display:block;
}
.sodal:target .sodal-container{
	top:20%;
	-webkit-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
/*--------------lightbox----------------------------*/

.txtbox{
	width:250px;
	border-radius: 5px;
padding-left:10px;
margin-left:20px;
}
.txtbox1{
	width:250px;
	height:100px;
	border-radius: 5px;
	padding-left:10px;
	margin-left:20px;
}
.btn{
	margin-left:90px;
}

.by{
	width:40px;
	height:40px;
	border-radius: 7px;
	float:right;
	
}
.by img{
	width:40px;
	height:40px;
}